# Build directory
/build/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build.ninja
.ninja_log
.ninja_deps

# Compiled binaries
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe

# Debug / temp
*.log
*.tmp

compile_commands.json
